body, html {
    height: 100%;
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0;
    padding: 0;
  }
  body {
  display: flex;
  flex-direction: column;
  }
  .content {
  flex: 1 0 auto;
  }
  /*selects all divs with bg__ in the paralax class. I think this is where the magic is*/
  .parallax [class*="bg__"] {
    position: relative;
    height: 50vh;
    text-indent: -9999px;
    background-attachment: fixed;  /*this may be the key*/
    background-position: top center;
    background-size: cover;
  }
  /*selects every second child and makes it an inset box, in this case bar and baz*/
  .parallax [class*="bg__"]:nth-child(2n) {
    box-shadow: inset 0 0 1em #111;
  }

  .footer {
    flex-shrink: 0;
    background-color: #333;
    color: white;
    }
    #footer{
      display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 100%;
    width: 100%;
    }
    #footerColumnOne{
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      text-align: center;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 1;
    }
    #footerColumnTwo{
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      text-align: center;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 1;
    }
    #footerColumnThree{
      padding-top: 20px;
      text-align: center;
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 1;
    }
    
    /* selected link */
    a:active {
      color: white;
    }
    a:link {
      color: white;
    }
    
    /* visited link */
    a:visited {
      color: white;
    }
    
    /* mouse over link */
    a:hover {
      color: white;
    }
    
    /* navbar */
    .animated-icon1, .animated-icon3, .animated-icon4 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    }
    .animated-icon1 span, .animated-icon3 span, .animated-icon4 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    }
    .animated-icon1 span {
    background: #8a1112;
    }
    .animated-icon1 span:nth-child(1) {
    top: 0px;
    }
    .animated-icon1 span:nth-child(2) {
    top: 10px;
    }
    .animated-icon1 span:nth-child(3) {
    top: 20px;
    }
    .animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    }
    .animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
    }
    .animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    }
    #linkList{
      float: right;
      text-align: right;
    }
    #navbar{
      background-color: transparent;
    }
    #menu{
      background-color: transparent;
    }
    #brand{
      color: #36271a;
    text-shadow:
     -.25px -.25px 0 white,  
      .25px -.25px 0 white,
      -.25px .25px 0 white,
       .25px .25px 0 white;
    }
    #tagLine2{
      font-size: x-large;
    }
    .nav-link{
      color: #36271a;
    text-shadow:
    -.15px -.15px 0 white,  
      .15px -.15px 0 white,
      -.15px .15px 0 white,
       .15px .15px 0 white;
    }
  
  /*parallax template*/
  .parallax .bg__break {
    height: 900px;
    box-shadow: inset 0 0 1em #111;
    background-image: url("../images/woman-1281830.jpg");
  }
    /*text box template*/
    .parallax .capture {
    /* float: right; */
    width: 500px;
    height: 200px;
    padding: 1em;
    margin: -1.5em 1em 0 0;
    text-indent: 0;
    background: rgba(243, 243, 243, 0.75);
    box-shadow: 0 1px 0.125em #333; 
    opacity: .6; 
    position: relative;
    top: 250px;
    left: 150px;
  }
    /*container template*/
    article .container {
    width: 600px;
    margin: 0 auto;
  }
  .parallax .bg__break1 {
    height: 300px;
    box-shadow: inset 0 0 1em #111;
    background-image: url("../images/gradient2.png");
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .parallax .capture1 {
    width: 300px;
    height: 150px;
    padding: 1em;
    margin: -1.5em 1em 0 0;
    text-indent: 0;
    background: rgba(243, 243, 243, 0.75);
    box-shadow: 0 1px 0.125em #333; 
    opacity: .6; 
    margin-bottom: 50px;
    margin-top: 50px; 
    text-align: center;
  }
  #instaGallery{
    width:80%;
    padding-left: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 50px;
  }
  .parallax .bg__break2 {
    height: 150px;
    width: 100%;
    box-shadow: inset 0 0 1em #111;
    background-image: url("../images/gradient3.png");
    background-size: contain;
    color: white;
    text-align: center;
    
  }
  .parallax .capture2 {
    height: 200px;
    padding: 1em;
    margin: -1.5em 1em 0 0;
    text-indent: 0;
  
  }
  #instaGallery{
    width: 50%;
  }
 